<div class="player-source-control">
  <button (click)="onLoadSourceClick()">Load Source</button>
  <div class="loader">
    <p *ngIf="isLoading$ | async">Loading...</p>
  </div>
</div>
<div class="player">
  <div class="controls">
    <button class="play-pause-btn" [disabled]="(canPlay$ | async) === false" (click)="onPlayPauseClick()">
      <div class="play-pause-btn-content" *ngIf="(isPlaying$ | async) === false; else playing">Play</div>
      <ng-template #playing>Pause</ng-template>
    </button>
  </div>
  <div class="progress-bar-wrapper">
    <div class="progress-bar" click (position)="onProgressBarClick($event.x)">
      <div
        class="progress-bar-layer-1"
        *ngIf="position$ | async as position"
        [ngStyle]="{ transform: 'scaleX(' + position + ')' }"
      ></div>
    </div>
  </div>
</div>
<div class="telemetry" *ngIf="telemetry$ | async as telemetry">
  <p>Time: {{ telemetry.time | number }}</p>
  <p>Duration: {{ telemetry.duration | number }}</p>
  <p>Position: {{ telemetry.position | number }}</p>
  <p>Total played time: {{ totalPlayTime | number }} <button (click)="onCalcPlayTime()">Calc</button></p>
</div>
